@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:wght@300;400&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Press+Start+2P&family=Raleway:wght@300;400&family=Roboto&display=swap");

.App {
  font-family: sans-serif;
  background: white;
}

.FinalFantasy {
  font-size: 0.9em;
  font-family: "Press Start 2P", cursive;
  border: 5px solid white;
  border-radius: 15px;
  background: linear-gradient(270deg, rgb(0, 0, 65) 15%, rgb(0, 0, 190));
  color: white;
  width: 50%;
  padding: 1.5em;
}

.FlatOrange {
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  background: rgb(247, 149, 38);
  border-radius: 7px;
  color: white;
  margin: none;
  padding: 1.25em;
  text-shadow: 2px 2px 2px rgb(156, 95, 25);
  width: 50%;
}

.ShakingTheHabitual {
  font-size: 1.5em;
  background: rgb(233, 64, 143);
  color: rgb(0, 255, 170);
  padding: 0.5em;
  text-shadow: 2px 2px 4px rgb(0, 49, 33);
  width: 50%;
}

.Neumorphism {
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
  background: rgb(255, 255, 255);
  color: rgb(70, 70, 70);
  padding: 0.25em;
  width: 50%;
}

.Neumorphism * {
  width: 70%;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 15px;
  box-shadow: 2px 2px 2px grey;
  padding: 0.5em;
}

.PurpleOne {
  font-size: 1.2em;
  font-family: "Outfit", sans-serif;
  color: white;
  background-color: rgb(84, 66, 105);
  border-radius: 10px;
  padding: 1em;
  width: 50%;
}
